.contacts {
    display: none;
    @media screen and (min-width: $tablet) {
    display: flex;
    gap: 30px;
    }
}

.contacts__link {
    color: var(--title-text-color);
    @extend %flex-align;
    justify-content: center;
    @include font (14, 500, 1.14, 0.02);
    transition: color 250ms var(--timeng-function);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
