.logo {
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    font-family: var(--font-logo);
    @include font-logo ($fs: 24, $lh: 1.17);
    transition: color 250ms var(--timeng-function);

    @include tablet {
        padding-top: 26px;
        padding-bottom: 26px;

        @include font-logo ($fs: 24, $lh: 1.17);
    }

    @include desktop {
        padding-top: 24px;
        padding-bottom: 25px;

        @include font-logo();
    }
}

.logo--dark-color {
    color: var(--primary-logo-color);
}

.logo--light-color {
    color: var(--primary-white-color);
    padding: 0;
}

.logo__span {
    color: var(--accent-color);
}