.title {
    display: block;
    text-align: center;
    font-family: var(--font-all);
    @include font-title ();

    @include tablet {
        @include font-title ($fs: 28, $lh: 1.18);
    }

    @include desktop {
        @include font-title ();
    }

}