.title {
    display: block;
    text-align: center;
    font-family: var(--font-all);
    @include font-title ();

    @media screen and(min-width: $mobile) {
        @include font-title ($fs:28, $lh:1.18);
    }

    @media screen and(min-width: $desktop) {
        @include font-title ();
    }

}