:root {
    --primary-white-color: #FFFFFF;
    --primary-text-color: #212121;
    --primary-logo-color: #000000;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-bg-color: #2F303A;
    --second-bg-color: #F5F4FA;
    --hero-bg-color: #C4C4C4;
    --accent-btn-color: #188CE8;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --header-line-color: #ECECEC;
    --icons-color: #AFB1B8;
    --border-color: #EEEEEE;

    --timeng-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    --font-logo: Raleway, sans-serif;
    --font-all: Roboto, sans-serif;

}

