.benefits {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: $desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.wrapper {
    display: block;

    @media screen and (min-width: $tablet) {
        display: flex;
        gap: 30px;
        justify-content: center;
        flex-wrap: wrap;
    }

    @media screen and (min-width: $desktop) {
        flex-wrap: nowrap;
    }
}

.wrapper__item {
    width: 100%;
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
        margin-bottom: 30px;}
    }

    @media screen and (min-width: $tablet) {
        width: calc((100% - 60px)/2);
    }

    @media screen and (min-width: $desktop) {
        width: calc((100% - 120px)/4);
    }
}

.wrapper__icons {
    @extend %flex-align;
    justify-content: center;
    height: 120px;
    background-color: var(--second-bg-color);
    border-radius: 4px;
    margin-bottom: 30px;
}

.icons-size {
    width: 70px;
    height: 70px;
}

.wrapper__subtitle {
    @include font ($fw: 700, $lh: 1.14);

    @media screen and (max-width: 767px) {
        text-align: center;
    }

}

.wrapper__text {
    margin-top: 10px;
    color: var(--title-text-color);
    @include font ();
}