.header {
    border-bottom: 1px solid var(--header-line-color);
}

.header__wrap {
    position: relative;
        display: flex;
        gap: 93px;
        justify-content: space-between;
}

.nav-wrap {
    @extend %flex-align;
    gap: 70px;
    justify-content: space-between;

    @include desktop {
    gap: 300px;
    }  
}

.navigation__list {
    display: none;
    @include tablet {
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: 50px;
    }
}

.navigation__link {
    position: relative;
    padding: 32px 0;
    color: var(--primary-text-color);
    @include font (14, 500, 1.14, 0.02);
    transition: color 250ms var(--timeng-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.current {
    display: none;

    @include tablet {
        display: block;
        color: var(--accent-color);

        &::after {
            position: absolute;
            bottom: 0px;
            right: 0px;
            content: '';
            width: 100%;
            height: 4px;
            background-color: var(--accent-color);
            border-radius: 2px;
        }
    }
}

.header__contacts {
    margin-left: auto;
}

.mail-icons {
    width: 16px;
    height: 12px;
    margin-right: 8px;
    fill: currentColor;

    @include tablet {
        margin-right: 10px;
    }
}

.tel-icons {
    width: 10px;
    height: 16px;
    margin-right: 8px;
    fill: currentColor;

    @include tablet {
        margin-right: 10px;
    }
}