.promo {
    display: none;

    @include desktop {
        display: block;
    }
}

.promo__title {
    margin-bottom: 50px;
}

.promo__list {
    display: flex;
    gap: 30px;
    background-color: var(--primary-white-color);

    &>img {
        min-width: 370px;
    }
}

.promo__card {
    position: relative;
}

.promo__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
    padding: 27px 0;
    @include font ($fw: 700, $lh: 1.14);
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
}